@page
@model QuizApp.Pages.ChooseModel
@{
    ViewData["Title"] = "Choose";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="row backgroundWhite border" style="margin-top:200px;">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div><br />
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-6">
                    <br />
                    <button class="btn btn-success form-control" id="btnPlay">Play Quiz</button>
                </div>
                <div class="col-6">
                    <br />
                    <button class="btn btn-danger form-control" id="btnLogout">Logout</button>
                </div>

            </div>
        </div>
    </div>
    <div class="col-md-3"></div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/CustomScripts/Choose.js"></script>
}

